body{
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#section-1{
    background-color: rgb(153, 49, 49);
    height: 600px;
}
.container{
    margin-left: auto;
    margin-right:auto;
    height: 100%;
}
header{
    padding:55px;
    display: flex;
    justify-content:space-around;
}
nav ul li{
    display: inline-block;
    padding: 10px 16px;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}
nav ul li.active{
    background-color: rgb(99, 40, 40);
    border-radius: 5px;
}
.main-heading{
    margin-top: 148px;
    text-align: center;
}
.main-heading h1{
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 60px;
}
.main-heading a{
    text-decoration: none;
    background-color: rgb(133, 40, 40);
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    padding: 25px 85px;
}
#section2{
    background-color: rgb(122, 41, 41);
    min-height: 745px;
    color: aliceblue;
}
.title-box{
    text-align: center;
    max-width: 609px;
    margin-left: auto;
    margin-right: auto;
}
.title-box h2{
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 100px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.title-box .line{
    width: 87px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}
.services-box{
    margin-top: 80px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 100px;
}
.service{
    width: 24%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.service img{
    width: 200px;
}
#section3{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    background-color: rgb(85, 19, 19);
}
#contact-form{
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}
.form-row{
    display: flex;
}
input[type="text"],input[type="email"]{
    width: 46%;
    height: 56%;
}
input[type="text"],input[type="email"], textarea{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    background-color: darkred;
    border: none;
    font-size: 19px;
    margin: 16px;
    border-radius: 6px;
    padding-left: 26px;
}
textarea{
    height: 200px;
    width: 100px;
    padding-top: 24px;
}
input[type="submit"]{
    background-color: rgb(220, 20, 20);
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 10px;
}
.big-button{
    padding: 25px 85px;
    color: white;
}
footer{
    background-color: rgb(151, 17, 17);
}
.footer-links{
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;
}
footer ul{
    margin: 0%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}
.footer-links ul li{
    display: inline-block;
    padding: 10px 20px 10px 20px;
}
.footer-links ul li{
    text-decoration: none;
    color: rgb(247, 247, 247);
    font-size: 24px;
}



